$background: rgb(172, 160, 160);
$darkBackground: darken($background, 15%);
$red: rgb(219, 43, 43);
$yellow:rgb(197, 197, 101);
$textColor: rgb(9, 27, 51);
$buttonColor:  rgb(68, 99, 68);

$size: 1.2;