body{
    background: $background;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;

    font-family: DnProLight;
    color: $textColor;
    
}

#root {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    align-items: center;

    h1 {
        text-align: center;
        font-size: 80px;
        border-bottom: 3px solid lighten($darkBackground, 5%);
        background: darken($background, 10%);
        margin-block-end: 0;
        margin-block-start: 0;
        position: relative;
        z-index: 2;
        box-shadow: 0px 0px 10px darken($background, 50%);
        width: 100vw;
    }
}

.userView {
    width: 500px;
    height: min-content;
    border: 3px solid black;
    overflow-wrap: break-word;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.flex {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.profilePicture {
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 15px;

    img{
        background: rgb(182, 61, 61);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0 0 0px rgb(51, 204, 51);
        transition: linear 0.3s box-shadow;
        &:hover {
            box-shadow: 0 0 8px rgb(51, 204, 51);
        }
    }
    &__connectionState {
        position: absolute;
        top: 75%;
        right: 0%;


        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(51, 204, 51);
    }
}

@media screen and (max-width: 1000px) {
    #root {
        h1 {
            font-size: 60px;
        }
    }
}

@media screen and (max-width: 640px) {
    #root {
        h1 {
            font-size: 40px;
        }
    }
}