header {
    width: 100%;
    min-width: 100vw;
    height: 75px;
    
    background-color: darken($background, 15%);
    border-bottom: 3px solid darken($background, 30%);
    box-shadow: 0px 0px 10px darken($background, 50%);
    
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.header {
    max-width: 1400px;
    width: 90%;
    position: relative;
    z-index: 3;


    display: flex;
    justify-content: space-between;
    align-items: center;

   
    color: $textColor;
    font-weight: 900;
    font-size: 40px;

    .profilePicture {
        position: relative;
        width: 55px;
        height: 55px;
        margin-left: 15px;

        img{
            background: rgb(182, 61, 61);
            width: 55px;
            height: 55px;
            border-radius: 50%;
            box-shadow: 0 0 0px rgb(51, 204, 51);
            transition: linear 0.3s box-shadow;
            &:hover {
                box-shadow: 0 0 8px rgb(51, 204, 51);
            }
        }
        &__connectionState {
            position: absolute;
            top: 75%;
            right: 0%;


            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: rgb(51, 204, 51);
        }
    }

    &__user {
        display: flex;
        margin-right: 15px;
    }
}