header {
    width: 100%;
    min-width: 100vw;
    height: 75px;
    
    background-color: darken($background, 15%);
    border-bottom: 3px solid darken($background, 30%);
    box-shadow: 0px 0px 10px darken($background, 50%);
    
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.header {
    max-width: 1400px;
    width: 90%;
    position: relative;
    z-index: 3;


    display: flex;
    justify-content: space-between;
    align-items: center;

   
    color: $textColor;
    font-weight: 900;
    font-size: 40px;

    &__user {
        display: flex;
        margin-right: 15px;
    }
}