.profile--wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.profile {
    background: $darkBackground;
    max-width: 1300px;
    width: 90%;

    box-sizing: border-box;

    background:  $darkBackground;
    box-shadow: 0 0 10px darken($background, 40%);
    border-radius: 5px;

    padding: 30px;

    display: flex;
    position: relative;
    &__picture {

        img {
            background: $yellow;
            box-shadow: 0 0 10px darken($background, 40%);
            border-radius: 10px;
        }
    }
    &__text {
        margin-left: 3%;
        h2 {
            font-size: 80px;
            margin-block-start: 0;
            margin-block-end: 0;
        }
        p {
            margin-left: 20px;
            text-align: left;
            font-size: 25px;
        }
        &__rank {
            margin-block-start: 0;
            margin-block-end: 0;
        }
        &__winrate {
            width: max-content;
            font-weight: 900;
            margin-block-start: 120px;
            margin-block-end: 0;


            &__win {
                color: rgb(51, 94, 51);
            }
            &__null {
                color: rgb(53, 53, 53);
            }
            &__lose {
                color: rgb(133, 35, 35);
            }
        }
    }
    &__rank {
        width: 100%;
        display :flex;
        justify-content: center;
        height: auto;
    }
}



@media screen and (max-width: 1200px) {
    .profile {
        &__rank {
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column;
        &__picture {
            display: flex;
            justify-content: center;
            min-width: 100%;
            background: none;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .profile {
        width: 100%;
        border-radius: 0px;

        &__picture {
            img {
                width: 150px;
                height: 150px;
            }
        }
        &__text {
            text-align: center;
            margin: 0;
            h2 {
                font-size: 50px;
            }
            p {
                font-size: 20px;
                margin: 0;
                margin-top: 5px;

                text-align: center;
            }
            &__winrate {
                margin: 0;
                font-size: 15px;
                width: auto;
            }
        }
    }
}